<h2>All events</h2>

<div id="events">
  <div class="event">
    <h3>Gor Mahia vs Afc Leopards</h3>
    <p>location <strong>Kasarani Stadium</strong></p>
  </div>

  <div class="event">
    <h3>Test Driven Development</h3>
    <p>location <strong>Andela</strong></p>
  </div>
</div>