<h2>All events</h2>

<% if events.any? %>
  <div id="events">
    <% events.each do |book| %>
      <div class="event">
        <h2><%= event.title %></h2>
        <p><%= event.description %></p>
        <p><%= event.location %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no events yet.</p>
<% end %>